nav {
	background-color: white;
	display: flex;
	font-size: 30px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.navbarItems {
	display: flex;
	padding: 5px;
}
#hamburger {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	padding-left: 1rem;
}

.logo {
	height: 3rem;
	padding-left: 1rem;
}
.wrap {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.searchBar {
	width: 100%;
	position: relative;
	display: flex;
}
.searchInput {
	width: 100%;
	border: 1px solid #aaa;
	border-right: none;
	padding: 5px 5px 5px 15px;
	height: 20px;
	border-radius: 2px 0 0 2px;
}
.searchTerm:focus {
	color: #141414;
}
.container{
    width: 96%;
    padding-top: 5rem;
    padding-left: 1.5rem;
}
.right {
	/* padding-top: 0.25rem; */
	display: flex;
	padding-right: 1.5rem;
	font-size: 1.2rem;
	align-items: center;
}
li {
    list-style-type: none;
    padding: 10px;
    display: inline;
}
.video, .title, .description {
    width: 70%;
    float: left;
}
iframe{
    width: 100%;
}
aside{
    width: 28%;
    float: right;
}
